@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');


 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }

  ::-webkit-scrollbar{
      width: 5px;
  }
  ::-webkit-scrollbar-thumb{
    background-color: var(--hero-color);
      border-radius: 100px;
  }

 :root{
        --main-font:'Hind', sans-serif;
        --hero-font:'Archivo Black', sans-serif;
        --background1-color:#FFFFFF;
        --background2-color:#E5E5E5;
        --hero-color:#FCA311;
        --text-color:#000000;
        --decoration-color:#14213D;
        
 }
 html{
  scroll-behavior:smooth;
 }


 /*INICIO DE LA SECCIÓN HERO*/
 .jumbotron{
     width: 100%;
     height: 100vh;
     background-color:var(--background2-color);
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
 }
/*INICIO DEL NEAVEGADOR*/
 .container-navegador{
  margin-left: auto;
  margin-right: 10%;
  margin-top: 15px;
  opacity: 0;
  animation: hero-animation-left 1.5s forwards;
  animation-delay: 3s;
 }
 .container-navegador ul{
  display: flex;
  list-style: none;
  color: var(--decoration-color);
  font-family: var(--main-font);

 }
 .container-navegador ul li a{
  padding-right: 10px;
  padding-left: 10px;
  text-decoration: none;
  font-family: var(--main-font);
  color: var(--hero-color);
  font-size: 1.2em;
  font-weight: 500;
 }

 /*CARRUSEL DE FOTOS DE INSTAGRAM CON BOTONES PARA PASA PÁGINA*/
 .main-scroll-div{
   margin-top: 20px;
   width: 400px;
   height: 500px;
   display: flex;
   align-items: center;
   justify-content: center;
   opacity: 0;
   animation: hero-animation 1.5s forwards;
   animation-delay: 3s;
  }
 .cover{
   position: relative;
   width: 100%;
   height: 500px;
   -webkit-box-shadow: 0px 0px 38px -12px rgba(20,33,61,1);
   -moz-box-shadow: 0px 0px 38px -12px rgba(20,33,61,1);
   box-shadow: 0px 0px 38px -12px rgba(20,33,61,1);
  }
 .cover::before{
   position: absolute;
   content:"";
   left: 0;
   top:0;
   z-index: 99;
   height: 100%;
   width:100px;
 }
 .cover::after{
   position: absolute;
   content:"";
   right: 0;
   top:0;
   z-index: 99;
   height: 100%;
   width: 100px;
 }
 .scroll-images{
   width: 100%;
   height: auto;
   display: flex;
   justify-content: left;
   align-items: center;
   overflow: auto;
   position: relative;
   scroll-behavior: smooth;
 }
 .child{
   min-width: 400px;
   height: 500px;
   cursor: pointer;
   overflow: hidden;
   
 }
 .child-img{
   width: 100%;
   height: 100%;
   object-fit: cover;
 }
 .scroll-images::-webkit-scrollbar{
  width: 0px;
  height: 0px;
 }

 .icon{
margin: 20px;
height:50px;
width: 50px;
background-color: var(--background1-color);
border: 4px solid  #14213D;
border-radius: 40%;
cursor: pointer;
transition: 0.1s;
 }
 .icon img{
  width: 100%;
  height: 100%;
  object-fit: contain;
 }
 .icon:hover{
  height: 45px;
 }
 /*FIN DEL CARRUSEL*/

 /*RETOQUE DEL JUMBOTRON CONTAINER*/
 .jumbotron .container{
   margin-bottom: 10px;
 } 
 .jumbotron .container h1{
    font-family: var(--main-font);
    color: var(--decoration-color);
    text-align: center;
    font-size: 3em;
 }
 .jumbotron span{
   display:inline-block;
 }
/*FIN DEL RETOQUE DEL JUMBOTRON CONTAINER*/

 /*ANIMACIONES DE CADA PALABRA Y COLORES, TAMAÑOS ETC ESPECÍFICOS*/
 .word-1{
    opacity: 0;
    animation: hero-animation 1.5s forwards;
    animation-delay: 0s;
 }
 .word-2{
    opacity: 0;
    animation: hero-animation 1.5s forwards;
    animation-delay: 0.3s;
 }
 .word-3{
    opacity: 0;
    animation: hero-animation 1.5s forwards;
    animation-delay: 1s;
 }
 .word-4{
    opacity: 0;
    animation: hero-animation 1.5s forwards;
    animation-delay: 1.3s;
    color: var(--hero-color);
 }
 .word-5{
    opacity: 0;
    animation: hero-animation 1.5s forwards;
    animation-delay: 2s;
 }
 .word-6{
    opacity: 0;
    animation: hero-animation 1.5s forwards;
    animation-delay: 2.3s;
 }
 .word-7{
   opacity: 0;
   animation: hero-animation-down 1.5s forwards;
   animation-delay: 3s;
   font-size: 0.6em;
   border: 3.5px solid #14213D;
   padding: 2px 40px;
   margin-top: 100px;
   border-radius: 100px;
   color: var(--hero-color);
   background-color: var(--background1-color);
   transition: 0.2s;
}
.word-7:hover{
  padding:2px 20px;
}
 @keyframes hero-animation{
   from{
      opacity: 0;
  }
  to{
      opacity: 1;
      transform:translateY(50px)
  }
}
@keyframes hero-animation-down{
  from{
     opacity: 0;
 }
 to{
     opacity: 1;
     transform:translateY(-50px)
 }
}
@keyframes hero-animation-left{
  from{
     opacity: 0;
 }
 to{
     opacity: 1;
     transform:translateX(-50px)
 }
}
/*FIN DE LA EDICION DE PALABRAS*/

/*FIN DE LA SECCIÓN HERO*/




/*INICIO DE LA SECCIÓN DE SKILLS*/

.skills{
  width: 100%;
  height: 100vh;
  background-color: var(--decoration-color);
  display: flex;
  justify-content: center;
}
.skills .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 50px;
}
.container-logos{
  width: 700px;
  height: 50vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  align-items: center;
  justify-items: center;
}
.container-logos .logo{
  width: 150px;
  height: 200px;
}
.logo img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.container-descripcion{
  width: 700px;
  margin-top: 50px;
  margin-bottom: 50px;
}
.container-descripcion p{
  color: var(--background2-color);
  font-family: var(--main-font);
  text-align: center;
  font-size: 1.5em;
}
.keyword{
  color:var(--hero-color);
}

/*FIN DE LA SECCIÓN DE SKILLS*/



/*INICIO DE LA SECCIÓN DE CONTACT*/

.contact{
  width: 100%;
  height: 200px;
  background-color: var(--decoration-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contactme {
  color: var(--background2-color);
  font-size: 5em;
  font-family: var(--hero-font);
}
.contactme-links{
  color: white;
  width: 300px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
.contactme-links a{
  text-decoration: none;
  color:white;
  font-family: var(--main-font);
  display: inline-block;
}
/*FIM DE LA SECCIÓN CONTACT*/


/*INICIO DEL FOOTER*/

footer{
  width: 100%;
  height: 100px;
  background-color:var(--background2-color);
  display: flex;
  justify-content: center;
  padding: 30px;
}
footer p{
  font-family: var(--main-font);
  color: var(--text-color);
  text-align: center;
  font-size: 1em;

}











@media screen and (max-width: 700px ) {
  .jumbotron{
    width: 100%;
    height: 100vh;
    background-color:var(--background2-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 30px;
}
.container-navegador{
  margin-left: 140px;
  opacity: 0;
  animation: hero-animation-left 1.5s forwards;
  animation-delay: 3s;
}
.skills{
  width: 100%;
  height: 100%;
  background-color: var(--decoration-color);
  display: flex;
  justify-content: center;
  align-items: flex-start;
} 
.skills .container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}
.container-logos{
  width:100%;
  height: 30vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap:20px;
  align-items: center;
  justify-items: center;

}
.container-logos .logo{
  width: 70px;
  height:100px;
}
.container-descripcion{
  font-family: var(--main-font);
  text-align: center;
  width: 100%;

}
.container-descripcion p{
  font-family: var(--main-font);
  text-align: center;
  font-size: 1.1em;
}
.main-scroll-div{
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: hero-animation 1.5s forwards;
  animation-delay: 3s;
}
.cover{
  position: relative;
  width: 100%;
  height: 400px;
  -webkit-box-shadow: 0px 0px 38px -12px rgba(20,33,61,1);
  -moz-box-shadow: 0px 0px 38px -12px rgba(20,33,61,1);
  box-shadow: 0px 0px 38px -12px rgba(20,33,61,1);
 }
 .child{
  min-width: 200px;
  height: 400px;
  cursor: pointer;
  overflow: hidden;
  
}
.jumbotron .container{
  margin-bottom: 20px;
}
.jumbotron .container h1{
  font-size: 1.5em;
}
.contactme {
  color: var(--background2-color);
  font-size: 2.8em;
  font-family: var(--hero-font);
}
}
